.container {
  gap: 1rem;
}

.msg-input {
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  align-items: center;
}

.header .right {
  margin-left: auto;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
